.bgpicture {
  margin: 50px auto 100px;
  width: 1050px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.grid {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: rgba(230, 80, 0, 0.9);
}
.bgpicture-grid > div {
  opacity: 0.3;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}
.empty-cell {
  background-color: #b94100;
}
