---
import { formatStarNumber } from "./project-shared";
import { maxBy } from "es-toolkit";

export interface Props {
  data: { y: number; x: string }[];
}

const { data } = Astro.props;

const yMax = maxBy(data, (d) => d.y)?.y;
---

<!-- Generic bar chart component to render data by month or by year -->
<div class="project-chart">
  <div class="project-chart-columns">
    {
      data.map(({ y }) => (
        <div class="project-chart-column">
          {y > 0 ? (
            <div
              class="project-chart-bar"
              style={{
                height: yMax ? `${Math.round((y * 100) / yMax)}%` : `0px`,
              }}
            >
              <div class="project-chart-stars">
                {y > 0 && <>{formatStarNumber(y, 1)}</>}
              </div>
            </div>
          ) : (
            <div class="non-available">N/A</div>
          )}
        </div>
      ))
    }
  </div>
  <div class="project-chart-months">
    {data.map(({ x }) => <div class="project-chart-month">{x}</div>)}
  </div>
</div>

<style>
  .project-chart {
    width: 100%;
    margin-top: 30px;
  }

  .project-chart-columns {
    min-height: 150px;
    display: flex;
    gap: 3px;
  }

  .project-chart-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .project-chart-bar {
    background: var(--chart-bar-bg-color);
    position: relative;
  }

  .project-chart-stars {
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: var(--lighter-text-color);
    font-size: var(--small-font);
    position: absolute;
    top: -22px;
    width: 100%;
  }
  .project-chart-stars span {
    margin-left: -100%;
    margin-right: -100%;
  }

  .project-chart-months {
    display: flex;
    gap: 3px;
  }

  .project-chart-month {
    flex: 1;
    margin-top: 5px;
    text-align: center;
  }
  .project-chart-no-data {
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  .non-available {
    color: var(--lighter-text-color);
    text-align: center;
    font-size: var(--small-font);
    border-bottom: 1px dotted var(--grey3);
  }
</style>
