---
import { useTranslations } from "~/i18n/utils";
import TranslatedBlock from "./translated-block.astro";

export interface Props {
  year: number;
  language: string;
}
const { year, language } = Astro.props;
const { t } = await useTranslations(language, year);
---

<div class="container small-container" id="conclusion">
  <div class="conclusion">
    <h2 class="tag-card-header-text">{t("conclusion")}</h2>
    <TranslatedBlock id="conclusion" year={year} language={language} />
  </div>
</div>

<style>
  .conclusion {
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid var(--border-color);
  }
</style>
