<div class="footer">
  <div class="container small-container">
    <p>
      <a href="https://bestofjs.org">Best of JS</a> is a project by{" "}
      <a href="https://michaelrambeau.com/">Michael Rambeau</a>, made in Osaka,
      Japan.
    </p>
    <p class="poweredBy">
      <span>Powered by</span>
      <a href="https://vercel.com?utm_source=bestofjs" class="poweredByLogo">
        <img width="80" height="19" src="/vercel.svg" alt="Vercel" />
      </a>
    </p>
  </div>
</div>

<style>
  .footer {
    padding: 3rem 0;
    background-color: #8f3200;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
  .footer .container {
    padding: 0 2rem;
  }
  .footer a {
    color: #fbf3ef;
  }
  .footer p:first-child {
    margin-top: 0;
  }
  .footer p:last-child {
    margin-bottom: 0;
  }
  .poweredBy {
    display: flex;
    justify-content: center;
  }
  .poweredByLogo {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-left: 4px;
  }
</style>
