---
import { useTranslations } from "~/i18n/utils";
import TranslatedBlock from "./translated-block.astro";

export interface Props {
  language: string;
  year: number;
}

const { language, year } = Astro.props;

const { t } = await useTranslations(language, year);
---

<div class="container small-container">
  <div class="card">
    <div class="text">
      <TranslatedBlock id="introduction" language={language} year={year} />
    </div>
    <hr />
    <div
      set:html={t("introduction.explanation", {
        link: `<a href="https://bestofjs.org">Best of JS</a>`,
        interpolation: { escapeValue: false },
      })}
      class="explanation"
    />
  </div>
</div>

<style>
  .card {
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid var(--border-color);
  }
  .text {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .explanation {
    margin-top: 2rem;
  }
</style>
