---
import { remark } from "remark";
import remarkHtml from "remark-html";

import LoadingIndicator from "./loading-indicator.astro";
import type { LanguageCode } from "~/schema";
import { getProcessedCategoryMarkdown } from "~/utils/markdown";

export interface Props {
  id: string;
  language: LanguageCode;
  year: number;
  isTruncated?: boolean;
}

const { id, language, year, isTruncated = false } = Astro.props;

const processedContent = await getProcessedCategoryMarkdown({
  year,
  language,
  id,
  isTruncated,
});

const html = await remark().use(remarkHtml).process(processedContent);
const htmlString = String(html);
---

<div class="translated-block-wrapper">
  <div class="markdown-body" set:html={htmlString} />
  {
    isTruncated && (
      <button
        type="button"
        class="button show-more-button"
        hx-get={`/${year}/${language}/content/${id}`}
        hx-select=".full-content"
        hx-trigger="click"
        hx-target="closest .translated-block-wrapper"
        hx-swap="outerHTML"
      >
        SHOW MORE
        <LoadingIndicator />
      </button>
    )
  }
</div>

<style>
  .translated-block-wrapper {
    position: relative;
  }
  .show-more-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 1rem;
  }
</style>
