.project-flex-container {
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
}
.project-table {
  padding: 0;
}
.project-table-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  // position: relative; // needed because the `.project-table-background` has absolute position
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

  border-bottom: 1px dashed $light-border-color;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    .project-table-bar {
      opacity: 0;
    }
  }
  &.project-table-row-show-details {
    background: $white;
  }
}
.project-table-inner {
  display: flex;
  flex-grow: 1;
  color: inherit;
  position: relative;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  min-width: 0;
}
.project-table-bar {
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  background: rgba(212, 212, 212, 0.4);
  opacity: 1;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  &.project-table-bar-previous {
    // background: rgba(0, 119, 255, 0.05);
    background: none;
    z-index: 1;
    border-right: 1px dashed rgba(0, 119, 255, 0.5);
    display: none;
  }
}
.project-table-contents {
  // position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.project-table-row .avatar-section {
}
.project-table-row:first-child {
  border-top: 1px dashed $light-border-color;
}
.project-infos {
  display: flex;
  // flex-grow: 1;
  min-width: 0; // see https://css-tricks.com/flexbox-truncated-text/
  // padding-left: 10px;
}
.project-name {
  margin: 0;
}
.description-section {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.2rem;
  color: $lighter-text-color;
  font-size: $smallish-font;
}
.project-table-row img {
}
.project-table-row .main-column {
  flex: 1;
  padding-left: 1rem;
  overflow: hidden;
}
.stars {
  display: block;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 1.2rem;
}
.project-table-row .main-column .row-1 {
  display: flex;
}
.project-table-row .main-column .row-1 div:first-child {
  flex-grow: 1;
}
.project-table-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightest-text-color;
  font-size: 1.5rem;
  @include secondary-font;
  flex: 0 0 40px;
}
.project-table-stars {
  display: flex;
  align-items: center;
}

.project-trend {
  margin-left: $spacing/2;
  @include font-bold;
  .project-table-row-downfast & {
    color: #ea2149;
  }
  .project-table-row-down & {
    color: #e28194;
  }
  .project-table-row-downslow & {
    color: #caa3ab;
  }
  .project-table-row-upslow & {
    color: #9ea88e;
  }
  .project-table-row-up & {
    color: #96b367;
  }
  .project-table-row-upfast & {
    color: #85cc12;
  }
  .project-table-row-na & {
    color: #999;
  }
  // .project-table-row-downfast & {
  //   color: #8b8de8;
  // }
  // .project-table-row-down & {
  //   color: #b3b5e6;
  // }
  // .project-table-row-neutral & {
  //   color: #999;
  // }
  // .project-table-row-up & {
  //   color: #e28194;
  // }
  // .project-table-row-upfast & {
  //   color: #ea2149;
  // }
  // .project-table-row-na & {
  //   color: #999;
  // }
}

.project-details {
  // // position: relative;
  max-height: 0;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // background: $white;
  // box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  // padding-top: 90px;
  .project-table-row-show-details & {
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    // left: -10px;
    // right: -10px;
    // top: -10px;
    max-height: 700px;
    // bottom: -10px;
    opacity: 1;
    z-index: 20;
  }
}

.project-table-row-show-details {
  // position: relative;

  .project-table-contents {
    // // position: relative;
    // left: -10px;
    // top: -10px;
    // transform: translate(-10px, -10px);
    // padding: 20px;
    // margin-right: -20px;
    // margin-bottom: -20px;
    z-index: 100;
  }
  .project-table-bar {
    display: none;
  }
}
