
$red: #E60932;

$white: white;


$grey: #e8e8e8;
$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$darkgrey: #344c4c;
$beige: #fffef0;

$active-color: #cc4700;
$secondary-color: #cc4700;
$hover-color: $white;

$text-color: $darkgrey;
$lighter-text-color: $mediumgrey;
$lightest-text-color: $grey3;
$light-border-color: $grey3;
$border-color: $mediumgrey;
$bg-color: #EDEFED;