.project-details {
  max-height: 0;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background: $white;
  z-index: 100;
  overflow: hidden;
  &.is-open {
    max-height: 700px;
    opacity: 1;
    z-index: 20;
  }
}

.project-details-inner {
  padding: 10px 20px 20px 20px;
}

.project-blurb {
  font-size: $medium-font;
  margin-bottom: 10px;
  line-height: 1.6;
  background: rgba(0, 0, 0, 0.04);
  padding: 15px;
  border-radius: 3px;
}

.project-links {
  @include flex-center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: block;
    margin-right: 10px;
    flex: 1;
    &:last-child {
      margin-right: 0;
    }
    a,
    span {
      font-size: $small-font;
      display: block;
      border: 1px solid $light-border-color;
      text-align: center;
      border-radius: 3px;
      padding: 6px 8px;
    }
  }
  .project-created-at {
    font-size: $smaller-font;
  }
}

.project-chart {
  width: 100%;
  margin: 40px 0 15px 0;
  // align-items: flex-end;
}

.project-chart-columns {
  min-height: 150px;
  display: flex;
}

.project-chart-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3px;
  &:last-child {
    margin-right: 0;
  }
}

.project-chart-bar {
  background: rgba(0, 0, 0, 0.1);
  background: rgba(228, 91, 18, 0.15);
  position: relative;
}

.project-chart-stars {
  text-align: center;
  @include secondary-font;
  color: $lighter-text-color;
  font-size: $small-font;
  position: absolute;
  top: -22px;
  width: 100%;
  span {
    margin-left: -100%;
    margin-right: -100%;
  }
}

.project-chart-months {
  display: flex;
  margin-right: 3px;
  &:last-child {
    margin-right: 0;
  }
}

.project-chart-month {
  flex: 1;
  margin-top: 5px;
  text-align: center;
}
