.project-category-grid {
  display: flex;
  flex-direction: column;
  .column2 {
    padding: 1rem; // add padding around the comments section, on small screens
  }
  @media (min-width: 800px) {
    flex-direction: row;
    > div {
      width: 50%;
    }
    .column1 {
      padding-right: $spacing;
    }
    .column2 {
      padding: 0; // no more padding needed
      padding-left: $spacing;
    }
  }
}

.project-category-header {
  font-size: $larger-font;
  border: 1px solid $border-color;
  @include crosshatchBg;
  margin-bottom: $spacing*2;
  text-align: center;
  padding: $spacing;
  background: $bg-color;
}

.project-table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed $light-border-color;
  cursor: pointer;
  &:first-child {
    border-top: 1px dashed $light-border-color;
  }
  .ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightest-text-color;
    font-size: 1.5rem;
    @include secondary-font;
    flex: 0 0 40px;
  }
  .inner {
    display: flex;
    align-items: center;
    min-width: 0;
    position: relative;
    flex-grow: 1;
  }
  .icon {
    padding-right: 10px;
  }
  .main-column {
    flex-grow: 1;
    min-width: 0;
    padding: 0.7rem 0rem;
  }
  .project-name {
    margin: 0;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.2rem;
    color: $lighter-text-color;
    font-size: $smallish-font;
  }
  .stars {
    white-space: nowrap;
    padding-right: 5px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    .project-table-bar {
      opacity: 0;
    }
  }
  &.project-table-row-show-details {
    background: $white;
  }
}

.project-table-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(212, 212, 212, 0.4);
  opacity: 1;
  z-index: -1;
}
