.toc{
  ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    margin-bottom: $spacing;
  }
  text-align: center;
}

.toc-link{
  display: block;
  white-space: nowrap;
  font-size: $larger-font;
  @include secondary-font;
  margin-bottom: $spacing/2;
  border: 1px dashed $border-color;
  padding: $spacing;
  span{
    display: block;
    margin-bottom: $spacing/2;
  }
  &:hover{
    background: rgba(255, 255, 255, 0.5);
    img{
      filter: none;
      opacity: 1;
    }
  }
}

.toc-projects{
  @include flex-center;
  img{
    display: block;
    margin-right: 5px;
    filter: grayscale(100%);
    opacity: 0.7;
    &:last-child{
      margin: 0;
    }
  }
}