
$root-size-mobile: 15px;
$root-size: 19px;

$smaller-font: 0.7rem;
$small-font: 0.8rem;
$smallish-font: 0.9rem;
$medium-font: 1rem;
$large-font: 1.1rem;
$larger-font: 1.3rem;
$largest-font: 1.5rem;

$light: 100;
$medium: normal;
$bold: bold;

@mixin font-light{
  font-weight: $light;
}

@mixin font-regular{
  font-weight: $medium;
}

@mixin font-bold{
  font-weight: $bold;
}

@mixin primary-font{
  font-family: 'Roboto Slab', sans-serif;
  @include small{
    font-weight: 400;
  }
  @include medium-large{
    font-weight: 300;
  }
}
@mixin secondary-font{
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  // font-style: italic;
}

pre, code{
  @include secondary-font;
}

strong{
  font-weight: 700;
}