.year2016 .banner {
  background-image: url("/img/2016/banner.png");
}
.year2017 .banner {
  background-image: url("/img/2017/banner.png");
}
.year2018 .banner {
  background-image: url("/img/2018/banner.png");
}
.year2019 .banner {
  background-image: url("/img/2019/banner.png");
}
.year2020 .banner {
  background-image: url("/img/2020/banner.png");
}
.year2021 .banner {
  background-image: url("/img/2021/banner.png");
}
.year2022 .banner {
  background-image: url("/img/2022/banner.png");
}
.year2023 .banner {
  background-image: url("/img/2023/banner.png");
}

.banner {
  width: 100%;
  height: 12rem;
  background-color: #e65100;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  color: white;
}

@media (min-width: 800px) {
  .banner {
    height: 300px;
  }
}

.banner h1 {
  text-shadow: 0 3px 3px rgba(143, 50, 0, 0.99);
}
