.button {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 10px 20px;
  display: block;
  color: var(--active-color);
  text-align: center;
  white-space: nowrap;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1rem;
}
.button:not([disabled]) {
  cursor: pointer;
}
.button:not([disabled]):hover {
  background: var(--hover-color);
  color: var(--active-color);
}
.button.large-button {
  padding: 20px 10px;
  font-size: var(--large-font);
}
