#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#header .container {
  height: 100%;
}

.header-layout {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
}

@media (min-width: 550px) {
  .header-layout {
    padding-left: 2rem;
  }
}

#logo {
  display: flex;
}

.language-column {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.language-menu {
  display: none;
}

@media (min-width: 750px) {
  .language-menu {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

.language-menu-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--linkColor);
}

.language-menu-item:hover {
  color: var(--activeLinkColor);
}

.language-menu-item.is-active {
  display: none;
  color: var(--activeLinkColor);
  margin-bottom: -2px;
}

.language-menu-mobile {
  margin-left: 1rem;
}

@media (min-width: 750px) {
  .language-menu-item {
    display: flex;
  }
  .language-menu-mobile {
    display: none;
  }
}

#github-corner {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 900px) {
  #github-corner {
    display: block;
  }
}
