#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
  .container {
    height: 100%;
  }
}
.header-layout {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  @media (min-width: 550px) {
    padding-left: 2rem;
  }
  @media (min-width: 750px) {
    padding-left: 0;
  }
}

#logo {
  flex-grow: 1;
  display: none;
  /* Make the logo smaller on small screens */
  @media (min-width: 400px) {
    display: block;
    width: 120px;
  }
}

.language-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.language-menu-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  &.is-active {
    background-color: #cc4700;
    color: white;
  }
}
