$languageBreakPoint: 750px;

#header {
  width: 100%;
  padding: 0;
  background: #fff;
  z-index: 50;
  height: 60px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .container {
    height: 100%;
  }
}
.header-layout {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
  @media (min-width: 550px) {
    padding-left: 2rem;
  }
  @media (min-width: 750px) {
    padding-left: 0;
  }
}

#logo {
  flex-grow: 1;
  display: none;
  /* Make the logo smaller on small screens */
  @media (min-width: 500px) {
    display: block;
    width: 120px;
  }
}

.language-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.language-menu-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: $linkColor;
  &:hover {
    color: $activeLinkColor;
  }
  &.is-active {
    color: $activeLinkColor;
    border-bottom: 2px solid $activeLinkColor;
    margin-bottom: -2px;
  }
  @media (max-width: $languageBreakPoint - 1px) {
    &:nth-child(n + 4) {
      display: none; // show only the first 2 items on small screens
    }
  }
}

// on small screens, hide the first 3 languages from the dropdown menu
// because they are visible in the main language menu
.language-menu-mobile {
  margin-left: 1rem;
  option:nth-child(-n + 4) {
    display: none;
  }
}

// On big screens, show all languages from the main menu and hide the dropdown menu
@media (min-width: $languageBreakPoint) {
  .language-menu-item {
    display: flex;
  }
  .language-menu-mobile {
    display: none;
  }
}

// GitHub corner at the upper right corner, only on big screens
#github-corner {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  @media (min-width: 900px) {
    display: block;
  }
}
