*, :after, :before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #f9e9e0;
  color: #541600;
}
h2, h3 {
  font-weight: 400;
}
a {
  color: #cc4700;
  text-decoration: none;
}
a[:not(.resp-sharing-button__link)]:hover {
  text-decoration: underline;
  color: #E65000;
}

.container {
  margin: 0 auto;
  /*padding: 0 2rem;*/
}
.container-section {
  padding: 0;
}

h1 {
  margin: 0;
  color: white;
  font-size: 2rem;
  text-shadow: 0 3px 3px rgba(143,50,0,0.99);
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 850px) {
  h1 {
    font-size: 3rem;
  }
  #header .container {
    padding-left: 0;
  }
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1050px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1250px) {
  h1 {
    font-size: 3.5rem;
    /*font-weight: 400;*/
  }
  .container {
    max-width: 1200px;
  }
}

.small-container {
  max-width: 650px;
}

.share-buttons {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
}
.share-buttons > div {
  /*text-align: center;*/
  padding: 1rem 0;
}
@media (min-width: 480px) {
  .share-buttons {
    flex-direction: row;
  }
  .share-buttons > div {
    /*text-align: center;*/
    padding: 0;
  }
}

.card-conclusion p,
.card-conclusion li {
  font-size: 1.25rem;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
