.project-table {
  margin-top: 2rem;
  padding: 0;
}
.project-table-row {
  position: relative; // needed because the `.project-table-background` has absolute position
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.project-table-inner {
  display: block;
  color: inherit;
  border-bottom: 1px dashed $light-border-color;
  position: relative;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
}
.project-table-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(212, 212, 212, 0.4);
  &.project-table-bar-previous {
    // background: rgba(0, 119, 255, 0.05);
    background: none;
    z-index: 1;
    border-right: 1px dashed rgba(0, 119, 255, 0.5);
    display: none;
  }
}
.project-table-contents {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.project-table-row .avatar-section {
}
.project-table-row:first-child {
  border-top: 1px dashed $light-border-color;
}
.project-infos {
  flex-grow: 1;
  margin-left: 10px;
  min-width: 0;
}
.project-name {
  margin: 0;
}
.project-table-row .description-section {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.2rem;
  color: $lighter-text-color;
  font-size: $smallish-font;
  width: 100%;
}
.project-table-row img {
}
.project-table-row .main-column {
  flex: 1;
  padding-left: 1rem;
  overflow: hidden;
}
.stars {
  display: block;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 1.2rem;
}
.project-table-row .main-column .row-1 {
  display: flex;
}
.project-table-row .main-column .row-1 div:first-child {
  flex-grow: 1;
}
.project-table-rank {
  @include flex-center;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  position: absolute;
  left: -60px;
  color: $lightest-text-color;
  font-size: 1.5rem;
  @include secondary-font;
  text-align: right;
  width: 40px;
  span {
    display: block;
  }
}

.project-trend {
  margin-left: $spacing/2;
  @include font-bold;
  .project-table-row-downfast & {
    color: #ea2149;
  }
  .project-table-row-down & {
    color: #e28194;
  }
  .project-table-row-downslow & {
    color: #caa3ab;
  }
  .project-table-row-upslow & {
    color: #9ea88e;
  }
  .project-table-row-up & {
    color: #96b367;
  }
  .project-table-row-upfast & {
    color: #85cc12;
  }
  .project-table-row-na & {
    color: #999;
  }
  // .project-table-row-downfast & {
  //   color: #8b8de8;
  // }
  // .project-table-row-down & {
  //   color: #b3b5e6;
  // }
  // .project-table-row-neutral & {
  //   color: #999;
  // }
  // .project-table-row-up & {
  //   color: #e28194;
  // }
  // .project-table-row-upfast & {
  //   color: #ea2149;
  // }
  // .project-table-row-na & {
  //   color: #999;
  // }
}

.project-table-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 20;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-top: 90px;
  .project-table-row-show-details & {
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -200px;
    opacity: 1;
  }
}

.project-table-row-show-details {
  position: relative;

  .project-table-contents {
    // position: relative;
    // left: -10px;
    // top: -10px;
    // transform: translate(-10px, -10px);
    // padding: 20px;
    // margin-right: -20px;
    // margin-bottom: -20px;
    z-index: 100;
  }
  .project-table-bar {
    display: none;
  }
}

.project-details {
  position: relative;
  z-index: 100;
  margin: 0 20px;
  padding-top: 10px;
  font-size: $smallish-font;
  border-top: 1px dashed $light-border-color;
  display: none;
  .project-table-row-show-details & {
    display: block;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    margin-bottom: 5px;
  }
}

.project-blurb{
  font-size: $large-font;
  margin-bottom: 10px;
  line-height: 1.6;
}
