.project-details {
  background: white;
  z-index: 100;
  overflow: hidden;
}

.project-details-inner {
  padding: 10px 20px 20px 20px;
}

.project-name {
  font-size: 1rem;
}

.project-chart {
  width: 100%;
  margin: 30px 0 15px 0;
}

.project-chart-columns {
  min-height: 150px;
  display: flex;
}

.project-chart-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 3px;
}
.project-chart-column:last-child {
  margin-right: 0;
}

.project-chart-bar {
  background: var(--chart-bar-bg-color);
  position: relative;
}

.project-chart-stars {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: var(--lighter-text-color);
  font-size: var(--small-font);
  position: absolute;
  top: -22px;
  width: 100%;
}
.project-chart-stars span {
  margin-left: -100%;
  margin-right: -100%;
}

.project-chart-months {
  display: flex;
  margin-right: 3px;
}
.project-chart-months:last-child {
  margin-right: 0;
}

.project-chart-month {
  flex: 1;
  margin-top: 5px;
  text-align: center;
}
.project-chart-no-data {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.guest {
  display: flex;
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  border: 1px dashed var(--border-color);
  background: white;
}

.guest-portrait {
  margin-left: var(--spacing);
}
.guest-portrait img {
  max-width: 120px;
}
