.year-menu {
  display: flex;
  width: 100%;
}
.year-menu > * {
  flex-grow: 1;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.5rem;
}
.year-menu > .active {
  background-color: #e65000;
  color: white;
}

/* Don't show all years on small screens */
@media (max-width: 599px) {
  .year-menu > .desktop-link {
    display: none;
  }
}

@media (min-width: 600px) {
  .year-menu > .mobile-link {
    display: none;
  }
}
