$borderColor: #9c0042;;
$borderWidth: 3px;

.year-menu-container {
  // background-color: #8f3200;
  // border-bottom: $borderWidth solid $borderColor;
}
.year-menu {
  display: flex;
  width: 100%;
  // background-color: white;
  > * {
    flex-grow: 1;
    text-align: center;
    padding: 0.2rem;
    font-size: 1.5rem;
    // border-bottom: $borderWidth solid $borderColor; 
  }
  > .active {
    background-color: #e65000;
    color: white;
    // border-top: $borderWidth solid $borderColor;
    // border-right: $borderWidth solid $borderColor;
    // border-left: $borderWidth solid $borderColor;
    // border-bottom: $borderWidth solid transparent; 
    // margin-bottom: -3px;
  }
}
